.Track {
  display: flex;
  align-items: center;
  background-color: #252D47;
  margin-bottom: 16px;
  border-radius: 10px;
  padding: 1rem;
}

.Track-action {
  cursor: pointer;
  padding: .5rem;
  font-size: 1.125rem;
  color: #FFF!important;
  font-family: 'circular-bold', sans-serif;
}

.Track-action:hover {
  color: rgba(265, 265, 265, .5);
}

.Track-information {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 72px;
}

.Track-information h3 {
  margin-bottom: .22rem;
  font-size: 1rem;
  color: #FFFFFF;
  font-family: 'circular-bold', sans-serif;
}

.Track-information p {
  font-size: .875rem;
  font-family: 'circular-book', sans-serif;
  color: #515D85;
}