.SearchBar {
  display: inline-block;
  text-align: center;
  align-items: center;
  padding-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;
}

.SearchBar input {
  font-family: 'circular-book', sans-serif;
  width: 70%;
  height: 48px;
  padding: .7rem 0;
  border: 1px solid #fff;
  border-radius: 50px;
  color: #505050;
  text-align: center;
  font-size: 1rem;
  margin-right: 5px;
}

.SearchBar input:focus {
  outline: none;
}

.SearchBar a {
  cursor: pointer;
  background: #6c41ec;
  background: -moz-linear-gradient(left, #6c41ec 0%, #e01de6 100%);
  background: -webkit-linear-gradient(left, #6c41ec 0%,#e01de6 100%);
  background: linear-gradient(to right, #6c41ec 0%,#e01de6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6c41ec', endColorstr='#e01de6',GradientType=1 );
  width: 48px;
  height: 48px;
  border-radius: 50%;
  text-align: center;
  line-height: 48px;
  vertical-align: middle;
  padding: 15px;
}
.SearchBar a svg path {
  fill: #FFF;
}

.SearchBar a:hover {
  background-color: rgba(108, 65, 233, .7);
}