.Playlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;

}

.Playlist input {
  width: 100%;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 2px solid #6f6f6f;
  margin-bottom: 3rem;
  font-family: 'Poppins', sans-serif;
  font-size: 1.55rem;
  color: #fff;
}

.Playlist-save {
  cursor: pointer;
  font-family: 'circular-book', sans-serif;
  padding: .5rem 3rem;
  border-radius: 54px;
  margin-top: 1.27rem;
  background-color: #6c41ec;
  background: -moz-linear-gradient(left, #6c41ec 0%, #e01de6 100%);
  background: -webkit-linear-gradient(left, #6c41ec 0%,#e01de6 100%);
  background: linear-gradient(to right, #6c41ec 0%,#e01de6 100%);
  color: #FFF!important;
  text-align: center;
  font-size: 1.375rem;
  transition: background-color .25s;
}

.Playlist-save:hover {
  background-color: rgba(108, 65, 233, .7);
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.onboard-right {
  width: 100%;
}

@media only screen and (max-width: 1020px) {
  .Playlist {
    width: 90%;
  }
}